nav {
    padding: 1em;

}

li {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 2em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}